@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="引位" value="${item.id}" underline="true"/>
                            <#input id="insertTime" name="插入时间" value="${item.insertTime}" underline="true"/>
                            <#input id="updateTime" name="最新操作时间" value="${item.updateTime}" underline="true"/>
                            <#input id="deleteFlag" name="删除标记" value="${item.deleteFlag}" underline="true"/>
                            <#input id="numberId" name="选号号码" value="${item.numberId}" underline="true"/>
                            <#input id="processed" name="过程" value="${item.processed}" underline="true"/>
                            <#input id="status" name="状态" value="${item.status}" />
                </div>

                <div class="col-sm-6">
                            <#input id="payChanel" name="付款渠道" value="${item.payChanel}" underline="true"/>
                            <#input id="customer" name="顾客姓名" value="${item.customer}" underline="true"/>
                            <#input id="contact" name="联系方式" value="${item.contact}" underline="true"/>
                            <#input id="qq" name="QQ号" value="${item.qq}" underline="true"/>
                            <#input id="wx" name="微信号" value="${item.wx}" underline="true"/>
                            <#input id="location" name="地址" value="${item.location}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="OrderInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="OrderInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/order/order_info.js"></script>
@}
